* {
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    margin: 0;
    background-color: #bebebe;
}

.body-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.body-head-container {
    text-align: center;
    background-color: #fff;
    margin: 0 10%;
    width: 80%;
}

.header {
    background-color: #131921;
    height: 60px;
    color: #fff;
}

.header .h-container {
    display: flex;
    justify-content: space-between;
}

.header .se-container {
    margin: 0 auto;
}

.header .cart-container {
    margin-left: auto;
}

/* Layout */
.h-container {
    width: 98%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

/* Logo */
.logo-container {
    height: 32px;
    width: 32px;
    overflow: hidden;
}

.logo {
    width: 100%;
    height: 100%;
}

/* Address Container */
.add-container {
    margin-left: 25px;
}

.add-container p {
    margin: 0;
}

.icon-address {
    display: flex;
    align-items: center;
}

.subscript {
    font-size: x-small;
    color: #ccc;
}

/* Search Container */
.se-container {
    margin-left: 15px;
    width: 800px;
    display: flex;
    height: 35px;
    border-radius: 5px;
}

.search-options-selector {
    height: 35px;
    font-family: inherit;
    outline: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    line-height: 30px;
    background-color: #E6E3E3;
}

.search-box {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
    padding: 3px;
    font-size: 1.1rem;
}

.search-icon {
    width: 60px;
    background-color: #FDAC65;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #000;
    cursor: pointer;
}

/* Cart Container */

.cart-container {
    font-size: 1.1rem;
    cursor: pointer;
}

/* Border */
.border-hov {
    border: 1.5px solid transparent;
}

.border-hov:hover {
    border: 1.5px solid #fff;
    cursor: pointer;
}

/* Navigation */
.navigation {
    height: 40px;
    background-color: #232f3d;
    margin: 0;
}

.nav-container {
    width: 98%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.nav-container ul {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    color: white;
    list-style: none;
}

.nav-container ul li a {
    color: white;
    text-decoration: none;
    padding: 0px 12px;
}

/* Item Showcase */
.featured-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    margin: 0 10%;
    width: 80%;
}  

.card {
    display: inline-block;
    width: 300px;
    height: 400px;
    margin: 20px;
    background-color: white;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    cursor: pointer;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.card img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.add-to-cart {
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
}

.add-to-cart:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75);
}

/* Search Results */
.search-result-head i {
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
}

.search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fff;
    margin: 0 10%;
    width: 80%;
}

/* Misc Buttons */
.body-head-container i {
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
}